@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;1,100&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.App {
  background-color: #a8abae;
  height: 105vh;
}
.Navbar {
  width: 100%;
  height: 15%;
}

.logo {
  float: left;
  width: 25%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo a {
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.list a {
  outline: none;
  text-decoration: none;
  color: white;
}

.list {
  float: left;
  width: 45%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  float: right;
  width: 30%;
  height: 82%;
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
  color: white;
}

.Navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  width: 100%;
  height: 35%;
  font-size: 20px;
  gap: 7%;
}

.TextSectionMain {
  float: left;
  width: 60%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextSectionFirst {
  float: top;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.TextSectionFirst h1,
p {
  color: white;
  width: 55%;
}

.TextSectionFirst h1 {
  font-size: 55px;
}

.TextSectionFirst p {
  font-size: 20px;
}

.TextSectionFirst button {
  margin-right: 40%;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.Pizza {
  float: right;
  width: 40%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SecondPage {
  background-color: white;
  height: 105vh;
  width: 100%;
}

.FirstHalf {
  float: left;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.FirstHalf h1 {
  color: blue;
  font-size: 60px;
}

.FirstHalf p {
  font-size: 20px;
  color: black;
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
  background-color: navajowhite;
}

.SecondHalf {
  float: right;
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.SecondHalf img {
  width: 370px;
  height: 520px;
  border: 10px solid beige;
}

.MenuCategories {
  float: left;
  height: 70%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.MenuCategories p {
  color: black;
  font-size: 20px;
}

.MenuCategories h1 {
  font-size: 44px;
  color: blue;
}

.MenuCategories button {
  margin-right: 38%;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.ImageSliderMenu {
  float: right;
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OrderNow {
  float: right;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OrderNowBlue {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
  height: 60%;
  background-color: rgba(0, 255, 255, 0.096);
}

.OrderNowBlue img {
  width: 230px;
  height: 230px;
}

.OrderNowBlue h1 {
  width: 100%;
  height: 40%;
}

.OrderNowBlue label {
  width: 68%;
  height: 10%;
  color: black;
}

.Beef {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Beef h1 {
  
  height: 20%;
  width: 100%;
}

.Beef p {
  color: black;
  width: 67%;
  margin-left: 80px;
  
}

.Beef button {
  height: 16%;
  width: 20%;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 18%;
  margin-top: 2%;
}

.OurMenu {
  float: right;
  width: 100%;
  height: 100%;
}
.OurMenu h1 {
  float: left;
  width: 33%;
  color: blue;
  font-size: 40px;
  


}

.OurMenu nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  
}

.OurMenu ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin-top: 18px;
}

.OurMenu a {
  color: inherit;
  text-decoration: none;
}

.OurMenuPic {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  gap: 170px;

}

.OurMenuPic img {
  width: 300px;
  height: 100%;

}
.OurMenuDescription {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 165px;
  
}


.OurMenuDescription p {
  color: #a8abae;
  width: 100%;
}
.OurMenuDescription span {
  font-weight: 600;
  width: 16%;
}

.OurMenuDescription a {
  color: rgba(0, 0, 255, 0.589);
}

.Promo {
  float: right;
  width: 100%;
  height: 100%;

}

.PromoPic {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.PromoPic img {
  width: 78%;
  height: 70%;
}

.PromoTextFirst {
  width: 50%;
  height: 30%;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.PromoTextSecond {
  width: 50%;
  height: 30%;
  float: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.PromoTextFirst p {
  color: #a8abae;
  font-weight: 600;
}

.PromoTextSecond p {
  color: #a8abae;
  font-weight: 600;
}


.PromoTextFirst button {
  margin-right: 40%;
  color: blue;
  border-color: blue;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 19px;
  cursor: pointer;
}

.PromoTextSecond button {
    margin-right: 40%;
    color: blue;
    border-color: blue;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
}


.SmartMealsNews {
  float: right;
  height: 100%;
  width: 100%;

}

.NewsHeader {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SmartMealsNews p {
  color: #a8abae;
  float: right;
  width: 50%;
  font-weight: 600;
}

.SmartMealsNews h1 {
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 255, 0.733);
 
}

.NewsPhotos {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.NewsPhotos img {
  width: 500px;
  height: 500px;

}

.NewsDescription {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.NewsDescription span {
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
}

.NewsDescription a {
  
    color: forestgreen;
    text-decoration: none;
  
}